---
// Destructure properties from the Astro.props object
const { id, project_id, date, time, price, paid } = Astro.props;

// Import the BASE_URL constant from the Astro environment
import { BASE_URL } from "astro:env/server";

// Determine the type based on the 'paid' status
// If 'paid' is true, set type to "paid"; otherwise, set it to "unpaid"
const type = paid ? "paid" : "unpaid";

// Calculate the hour and minutes from the total time in minutes
const hour = Math.trunc(time / 60); // Get the whole hours
const minutes = time - hour * 60; // Calculate the remaining minutes
---

<!-- Anchor element linking to the edit page for the registry entry -->
<a
    href={`${BASE_URL || "/"}projects/${project_id}/registry/edit/${id}`}
    class={`registry ${type}`}
>
    <!-- Display the date of the registry entry -->
    <span>{date}</span>
    <!-- Display the price associated with the registry entry -->
    <span>{price}€</span>
    <!-- Display the time in hours and minutes -->
    <span>{hour}h {minutes}m</span>
    <!-- Display the total calculated price based on time spent, formatted to two decimal places -->
    <span>{(price * (time / 60)).toFixed(2)}€</span>
</a>

<style>
    .registry {
        color: var(--color-primary);
        max-width: 98%;
        width: 350px;
        margin: 0 auto;
        border-radius: 5px;
        padding: 0.3rem 0;
        font-size: 1.2rem;
        font-weight: 500;
        display: flex;
        justify-content: space-evenly;
        transition: transform 200ms;
        text-decoration: none;
    }

    .registry:hover {
        cursor: pointer;
        transform: scale(1.03);
    }

    .registry span {
        text-align: center;
    }

    .registry span {
        flex-grow: 2;
    }

    .registry span:nth-child(2) {
        flex-grow: 1;
    }

    .registry span:first-child {
        flex-grow: 4;
    }

    .paid {
        background: var(--background-primary);
        box-shadow: 0px 2px 7px 0px var(--background-dark);
    }

    .unpaid {
        background: var(--background-error);
        box-shadow: 0px 2px 7px 0px var(--background-dark);
    }
</style>
